@using ScrumPokerPlanning.Areas.Identity.Pages
@model List<ScrumPokerPlanning.Models.Feature>
<div class="sessionHeader">
    <div class="row">
        <div class="col-md-2 title">Identification</div>
        <div class="col-md-4 title">Description</div>
        <div class="col-md-2 title">Status</div>
        <div class="col-md-2 title">Average</div>
        <div class="col-md-2 title">Full voted</div>
    </div>
    <hr class="separatorHead">


    @foreach (var item in Model)
    {


<div class="row ColumnsOfTable">
    <div class="col-md-2"><a href="@Url.Content("~/Identity/Planning/Feature?id=" + item.Id)">@item.Identification</a></div>
    <div class="col-md-4">@item.Description</div>



    <div class="col-md-2">
        <div class="buttonStatus" style="background-color:@item.StatusColor()">
            @item.Status
        </div>

    </div>

    @{

        if (item.FullVoted)
        {
            var average = @item.Average();
            if (average > 0)
            {
                <div class="col-md-2">@average.ToString("0.00")</div>
            }
            else
            {
                <div class="col-md-2">N/A</div>
            }
        }
        else
        {
            <div class="col-md-2">Waiting Votes</div>
        }


    }

    @{

        if (item.FullVoted)
        {
            <div class="col-md-2">
                <img style='height: 65%; width: 26%; object-fit: contain' src="../../greenCheck.png" />

            </div>
        }
        else
        {
            <div class="col-md-2"></div>

        }
    }

</div>
        <hr class="separator">
    }


</div>