@page
@model JiraFilterIssue

@{
    ViewData["Title"] = "Jira Filter Issues";
}

<div class="col-md-12">
    <h4 style="margin-left:5px;"> Session: @Model.DescriptionSession</h4>
    <h4 style="margin-left:5px;"> Filter: @Model.DescriptionFilter</h4>
</div>

<div class="col-md-6">

    @{
        <h4 style="margin-left:5px;"> Code: @Model.SessionCode</h4>
        <button class="btn btn-primary" onclick="window.location.href='@Url.Content("~/Identity/Planning/Session?code=" + Model.SessionCode)'"> Back to Session </button>        
        <button class="btn btn-primary" onclick="window.location.href='@Url.Content("~/Identity/Planning/JiraFilter?code="+Model.SessionCode+"&favourite="+Model.Favourite)'"> Back to Filters </button>
    }

</div>
<br>

<form id="formIssues" class="sessionHeader" method="post">
    <div class="form-group">
        <input id="idButtonIssues" type="submit" value="Import Selected Issues" class="btn btn-primary" style="margin-top: 32px;" />
        @Html.Hidden("SessionCode", Model.SessionCode)
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="col-md-12" style="padding-bottom:15px;">

            <div id="gridFiltersIssue2" class="sessionHeader" />

        </div>

    </div>
</form>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script type="text/javascript">

    $('#gridFiltersIssue2').load('/Identity/Planning/JiraFilterIssuePartial/JiraFilterIssue?code=@Model.SessionCode' + '&' + 'FilterID=@Model.FilterID' ,function () {
    //
    });


    </script>
}
