@page
@model Session
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    var VersionStr = @Configuration["SoftwareInformation:Version"];
    ViewData["Title"] = "Session";
}

    <div class="col-md-12" style="padding-bottom:15px;">
        <div class="col-md-12">

            <div class="row">

                <div class="col-md-8">

                    @{
                        <h4 style="margin-left:5px;"> Session: @Model.DescriptionSession</h4>
                    }
                </div>

                <div class="col-md-4">

                    @{
                        <h4 style="margin-left:5px;"> Code: @Model.SessionCode</h4>
                    }
                </div>
            </div>
        </div>

        @if (Model.UserCreator)
        {
            <div class="sessionHeader">
                <div class="row">
                    <form id="formSession" method="post" class="col-md-12">
                        <div class="row">
                            <div class="col-md-8">
                                <span asp-validation-for="FeatureIdentification" class="text-danger"></span>
                                <div class="form-group">
                                    <label asp-for="FeatureIdentification" class="control-label"></label>
                                    <input asp-for="FeatureIdentification" class="form-control" />


                                    @Html.Hidden("PlanningSessionId", Model.PlanningSessionId)
                                    @Html.Hidden("DescriptionSession", Model.DescriptionSession)
                                    @Html.Hidden("UserCreator", true)
                                    @Html.Hidden("SessionCode", Model.SessionCode)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <span asp-validation-for="FeatureDescription" class="text-danger"></span>
                                <div class="form-group">
                                    <label asp-for="FeatureDescription" class="control-label"></label>
                                    <input asp-for="FeatureDescription" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input id="idButtonSession" type="submit" formaction="/Identity/Planning/Session" value="Create new issue" class="btn btn-primary" style="margin-top: 32px;" />
                                </div>
                            </div>
                        </div>
                        <hr class="separator" style="margin-bottom:15px;">

                        <div class="col-md-12 title" style="text-align:center;font-size:x-large">Fast Jira Identifier Integration</div>
                        <div class="row">
                            <div class="col-md-8">
                                <span asp-validation-for="JiraIdentification" class="text-danger"></span>
                                <div class="form-group">
                                    <label asp-for="JiraIdentification" class="control-label"></label>
                                    <input asp-for="JiraIdentification" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input id="idButtonSessionJira" type="submit" formaction="/Identity/Planning/Session?code=@Model.SessionCode&amp;handler=JiraImport" value="Import From Jira" class="btn btn-primary" style="margin-top: 32px;" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        }

        <div id="gridIssues" class="sessionHeader" />

    </div>


@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/Session.js?v=@VersionStr"></script>

    <script type="text/javascript">
        checkSessionConnection();

        CallFunctionFromJSSession();

        EnterInGroupSession("@Model.UserGroup");

        function CallFunctionFromJSSession()
        {
            $('#gridIssues').load('/Identity/Planning/SessionFeaturesPartial/SessionFeatures?sessionid=' +@Model.PlanningSessionId);
        }

    </script>
}
